@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  margin: 0;
  padding: 0;
  font-family: Open Sans, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f7fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
div {
  display: flex;
}
.App {
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.logo {
  background-image: url(Logo.svg);
  height: 150px;
  width: 150px;
  background-size: cover;
  margin: 50px;
}
.content {
  flex-wrap: wrap;
  justify-content: center;
}
.filters {
  flex-direction: column;
  background-color: white;
  padding: 0px;
  margin-bottom: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(236, 233, 233);
  width: 230px;
  margin: 0 20px 20px 20px;
  height: 360px;
}
.tickets {
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}
.t-logo {
  background-size: cover;
  background-image: url(tklogo.png);
  width: 120px;
  height: 35px;
  margin: 10px;
}
.column {
  flex-direction: column;
}

.time {
  font-size: 32px;
  width: 81.713px;
}
.date {
  font-size: 12px;
  color: #8b9497;
  margin-top: 5px;
}
.transfer {
  font-size: 10px;
  color: #8b9497;
  font-weight: 500;
  text-align: center;
  margin: 0px;
}
.city {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0px;
}
.button-buy {
  font-size: 16px;
  color: white;
  width: 164px;
  height: 60px;
  background-color: #ff6c00;
  border: none;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  outline: none;
}
.button-buy:hover {
  background-color: #ff8123;
}
.ticket {
  background-color: white;
  margin-bottom: 20px;
  height: 172px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(236, 233, 233);
}
.ticket-side {
  flex-direction: column;
  width: 200px;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-right-style: ridge;
  border-color: #eceff1;
  padding-right: 30px;
  border-right-width: 1px;
  padding-left: 30px;
}
.ticket-up {
  flex-direction: row;
  justify-content: space-between;
  height: 65px;
}
.ticket-down {
  flex-direction: row;
  justify-content: space-between;
}
.ticket-main {
  flex-direction: column;
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}
.buttons {
  justify-content: stretch;
  margin-left: 15px;
  margin-right: 15px;
}
.currency-button {
  border: none;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: rgb(236, 233, 233);
  border-width: 1px;
  background-color: white;
  outline: none;
  padding: 15px;
  color: #2196f3;
  font-size: 12px;
  width: 100%;
}
.usd-button {
  border-right-style: solid;
  border-left-style: solid;
}
.rub-button {
  border-left-style: solid;
  border-radius: 5px 0px 0px 5px;
}
.eur-button {
  border-right-style: solid;
  border-radius: 0px 5px 5px 0px;
}
.currency-button:hover {
  background-color: #f1fcff;
  border-color: #2196f3;
  border-style: solid;
}
.plane-div {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.city-div-right {
  flex-direction: column;
  align-items: flex-end;
}

.checkbox-div:hover {
  background-color: #f1fcff;
}
.checkbox-div:hover .transfer-filter-hidden {
  visibility: visible;
  animation: fadeInUp;
}
.checkbox-div {
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.transfer-filter {
  font-size: 13px;
  padding-left: 10px;
}
.transfer-filter-hidden {
  visibility: hidden;
  font-size: 11px;
  color: #2196f3;
}
.checkbox-in-div {
  align-items: center;
  width: 100%;
}
.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(197, 195, 195);
}
.wrapper {
  padding-right: 20px;
  padding-left: 20px;
}
.transfer-filter-hidden:hover {
  color: rgb(255, 160, 35);
}
.checked {
  background-image: url(checkmark.svg);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
  border-color: #2196f3;
}

.not-found {
  height: 250px;
  max-width: 636px;
  min-width: 300px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
  height: 172px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(236, 233, 233);
}
@media (max-width: 816px) {
  .content {
    align-items: center;
  }
}
@media (max-width: 700px) {
  .ticket {
    height: 100%;
    flex-direction: column-reverse;
    width: 320px;
  }
  .ticket-main {
    margin: 0;
  }
  .content {
    flex-direction: column;
  }
  .ticket-side {
    border-right-style: none;
    border-top-style: ridge;
    border-color: #eceff1;
    border-top-width: 1px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
  }
}
@media (min-width: 833px) {
  .not-found {
    width: 637px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.numberOfTransfers {
  font-size: 12px;
  font-weight: 600;
  padding-left: 15px;
}
.active {
  background-color: #2196f3;
  color: white;
  border-color: #2196f3 !important;
}
.active:hover {
  background-color: #2196f3;
  border-color: #2196f3 !important;
}
